@font-face {
    font-family: 'pixelated';
    /* src: url('../fonts/DisposableDroidBB_ital.ttf'); */
    /* src: url('../fonts/karmaticArcade.ttf'); */
    /* src: url('../fonts/kongtext.ttf');  */
    src: url('../fonts/PressStart2P-Regular.ttf'); 
}

*{
    font-family: 'pixelated';
}

body {
    background-color: rgb(8, 0, 39);
    background-image: url(../img/background.jpg);
    background-size: 100%;
    color: white;
}

main{
    margin: 2%;
}

a{
    color: white;
    text-decoration: none;
    /* font-size: 20px; */
}

/**** TITULO ****/
h1 {
    text-align: center;
}


.img{
    margin-left: 50px;
    margin-bottom: 50px;

}

.portal{
    position: absolute;
    top: 700px;
    right: 550px;
    height: 150px;
}

/* ------------------------------------------------------------ */
/*************************** PROYECTOS **************************/

#proyectos{
    display: flex;
    flex-wrap: wrap;
}

.proyecto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px;
}

*>span{

}

.proyecto>a>img{
    border-radius: 20px;
    box-shadow: 0px 0px 80px rgba(74, 42, 255, 0.322);
    /* box-shadow: 20px 20px 80px rgba(74, 42, 255, 0.25); */
    /* box-shadow: -20px -20px 80px rgba(74, 42, 255, 0.25); */
}